services/epf-flower-data-science/__pycache__/*
services/epf-flower-data-science/src/schemas/__pycache__/*
services/epf-flower-data-science/src/services/__pycache__/*
services/epf-flower-data-science/src/services/api/__pycache__/*
*.pyc
